.projectsPage {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.createButton {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #666;
}