.projectList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .projectList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .projectList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}
